# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor folders
.vscode/

# Ignore environment files
.env

# Ignore Python artifacts
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/

# Ignore log files
*.log

# Ignore all zips
*.7z